@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Namdhinggo:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

.namdhinggo-medium {
  font-family: "Namdhinggo", serif;
  font-weight: 600;
  font-style: normal;
}
.namdhinggo-bold {
  font-family: "Namdhinggo", serif;
  font-weight: 700;
  font-style: normal;
}

.namdhinggo-extrabold {
  font-family: "Namdhinggo", serif;
  font-weight: 800;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* Inter Font */
.inter-light {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: normal;
}


.btn {
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.hover-border {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
 .hover-border::before,
 .hover-border:after {
    content: '';
    position: absolute;
    background: transparent;
    z-index: 2;
    width: 20%;
    height: 45%;
    transition: all 0.35s;
    border-radius: 5px;
    overflow: hidden;
}
 .hover-border::before {
    bottom: 0;
    left: 0;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-image:linear-gradient(to right, #40C3CD, #40C3CD);
    border-image-slice: 1;
}
 .hover-border::after {
    top: 0;
    right: 0;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    border-image: linear-gradient(to right, #40C3CD, #40C3CD);
    border-image-slice: 1;
}
 .hover-border:hover::before,
 .hover-border:hover::after {
    width: 100%;
    height: 100%;
}


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg); 
  }
} */

/* .logo-spin {
  animation: logo-spin infinite 1s linear;
} */